.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  height: 505px;
  padding: 8px;
  background-color: rgb(45, 54, 63);
  border-radius: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(58, 44, 255, 0.52) 0px 0px 0px 3.5px;
}

@media only screen and (max-width: 767px) {
  .App {
    text-align: center;
    height: 540px;
    width: 360px;
  }


  .container {
    margin-left: auto;
    margin-right: auto;
    width: 352px;
    height: 525px;
    padding: 8px;
    background-color: rgb(45, 54, 63);
    border-radius: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: rgba(58, 44, 255, 0.52) 0px 0px 0px 5px;
  }

}